<node name="request_taker" pkg="song_queue" type="request_taker.py"></node>
<node name="decision_maker" pkg="song_queue" type="decision_maker.py"></node>
<node name="remaining_time" pkg="song_queue" type="remaining_time.py"></node>
<node name="" pkg="intera_interface" type="joint_trajectory_action_server.py"</node>

rosrun intera_interface joint_trajectory_action_server.py
roslaunch sawyer_moveit_config sawyer_moveit.launch electric_gripper:=true
roslaunch sawyer_full_stack sawyer_camera_track.launch
